html,
body,
#app {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #020308;
}

body {
  cursor: crosshair;
}

canvas {
  display: block;
  background: #020308;
}
